<h1 class="animated fadeIn fast">sobre Mangas</h1>
<hr>
<p class="animated fadeIn ">
    El manga japonés constituye una de las tres grandes tradiciones historietísticas a nivel mundial, junto con la estadounidense y la franco-belga. 
    Abarca una extensa variedad de géneros y llega a públicos diversos.
     Es una parte muy importante del mercado editorial de Japón y motiva múltiples adaptaciones a distintos formatos: series de animación, conocidas como anime, o de imagen real, películas, videojuegos y novelas. 
     Cada semana o mes se editan nuevas revistas con entregas de cada serie, al más puro estilo del folletín, protagonizadas por héroes cuyas aventuras en algunos casos seducen a los lectores durante años.Desde los años ochenta han ido conquistando también los mercados occidentales

</p>